* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial";
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: seagreen;
}

.container{
    padding: 10px 10px 10px 10px;
    background: purple;
    border-radius: 15px;
}