* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial";
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(woods.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 20px ;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    color: white;
}

.container h1 {
    font-size: 28px;
    text-align: center;
}

.container p {
    padding: 5px;
}

.container input {
    border: 1px solid white;
    padding: 3px;
    border-radius: 3px;
    background: transparent;
    color: white;
}

.container ::placeholder {
    color: white;
    padding-left: 4px;
}

.container button {
    height: 24px;
    border-radius: 3px;
    border: 1px solid white;
    padding: 2px 5px;
    background: transparent;
    color: white;
}

.container #result {
    padding: 5px 5px;
    color: white;
}